<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/facecapture.css') }}">
  </head>


  <body onload="init();" bgcolor = "#C0C0C0">


    <div>
      <h1 align="center">Take a picture of your face</h1>
    </div>



    <div class="split left">
      <div align = "center">
        <h2>Take picture</h2>
      </div>
      <div align = "center">
        <video onclick="snapshot(this);" width=700 height=700 id="video" autoplay></video>
      </div>
      <div align = "center">
        <input onclick="snapshot();" type="button" value="Capture Image" id="button1" />
      </div>

    </div>



    <div class="split right">
      <div align="center">
        <h2><br><br><br>
          Captured Image

        </h2>
        <br><br><br><br>
        <canvas  id="myCanvas" width="700" height="525"></canvas>
      </div>
      <div align="center">
        <br><br><br><br><br>
        <a href="http://attendance.localtunnel.me/sen">
          <button>Submit</button>
        </a>
      </div>
    </div>



  </body>


  <script src="{{ url_for('static', filename='js/facecapture.js') }}"></script>
</html>
