<!DOCTYPE html>
<html>
  <head> <link rel="icon" href="data:;base64,iVBORw0KGgo=">
  </head>
  <body onload="init();">
    <h1>Take a snapshot of the current video stream</h1>
   Click on the Start WebCam button.
     <p>
    <button onclick="startWebcam();">Start WebCam</button>
    <button onclick="stopWebcam();">Stop WebCam</button>
    <!--<button onclick="snapshot(); change();" name = "button1">Take Snapshot</button>-->
    <input onclick="snapshot();" type="button" value="Take Snapshot" id="button1" />
    </p>
    <video onclick="snapshot(this);" width=400 height=400 id="video" autoplay></video>
  <p>

        Screenshots : <p>
      <canvas  id="myCanvas" width="400" height="350"></canvas>
  </body>
  <script>
      //--------------------
      // GET USER MEDIA CODE
      //--------------------
          navigator.getUserMedia = ( navigator.getUserMedia ||
                             navigator.webkitGetUserMedia ||
                             navigator.mozGetUserMedia ||
                             navigator.msGetUserMedia);

      var video;
      var webcamStream;

      function startWebcam() {
        if (navigator.getUserMedia) {
           navigator.getUserMedia (

              // constraints
              {
                 video: {width: 1280, height: 720},
                 audio: false
              },

              // successCallback
              function(localMediaStream) {
                  video = document.querySelector('video');
                 video.src = window.URL.createObjectURL(localMediaStream);
                 webcamStream = localMediaStream;
              },

              // errorCallback
              function(err) {
                 console.log("The following error occured: " + err);
              }
           );
        } else {
           console.log("getUserMedia not supported");
        }
      }

      function stopWebcam() {
          webcamStream.stop();
      }
      //---------------------
      // TAKE A SNAPSHOT CODE
      //---------------------
      var canvas, ctx;

      function init() {
        // Get the canvas and obtain a context for
        // drawing in it
        canvas = document.getElementById("myCanvas");
        ctx = canvas.getContext('2d');
      }

      
      //Add file blob to form and post
      function postFile(file) {
          let formdata = new FormData();
          formdata.append("image", file);
          let xhr = new XMLHttpRequest();
          xhr.open('POST', 'http://localhost:5000/image', true);
          xhr.onload = function () {
              if (this.status === 200)
                  console.log(this.response);
              else
                  console.error(xhr);
          };
          xhr.send(formdata);
      }

      function snapshot() {
         // Draws current image from the video element into the canvas
        ctx.drawImage(video, 0,0, video.width, video.height);
        canvas.toBlob(postFile, 'image/jpeg');
        var el = document.getElementById("button1");
        if (el.value=="Take Snapshot") el.value = "Retake";


        //window.location.href=image; // it will save locally


      }


  </script>
</html>
